.h-skills{
    color:rgb(128, 238, 137) ;
    position: relative;
    right: 215px;
    padding-bottom: 15px;
}
.pointer{
    color: aqua;
    position: relative;
    right: 150px;
}
.pointer3{
    color: aqua;
    position: relative;
    right: 142px;
}
.pointer4{
    color: aqua;
    position: relative;
    right: 140px;
}